# Occupation

### Introduction:


### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user).

In [2]:
df = pd.read_csv(".//users_dataset.tsv", sep="|", index_col=0)

In [3]:
df

         age gender     occupation zip_code
user_id
1         24      M     technician    85711
2         53      F          other    94043
3         23      M         writer    32067
4         24      M     technician    43537
5         33      F          other    15213
...      ...    ...            ...      ...
939       26      F        student    33319
940       32      M  administrator    02215
941       20      M        student    97229
942       48      F      librarian    78209
943       22      M        student    77841

[943 rows x 4 columns]

### Step 3. Assign it to a variable called users.

In [4]:
users = df

### Step 4. Discover what is the mean age per occupation

In [176]:
av_age_users_by_occup = users.groupby("occupation")["age"].mean()
av_age_users_by_occup

occupation
administrator    38.746835
artist           31.392857
doctor           43.571429
educator         42.010526
engineer         36.388060
entertainment    29.222222
executive        38.718750
healthcare       41.562500
homemaker        32.571429
lawyer           36.750000
librarian        40.000000
marketing        37.615385
none             26.555556
other            34.523810
programmer       33.121212
retired          63.071429
salesman         35.666667
scientist        35.548387
student          22.081633
technician       33.148148
writer           36.311111
Name: age, dtype: float64

### Step 5. Discover the Male ratio per occupation and sort it from the most to the least

In [287]:
gr_by_m = (users[users["gender"] == "M"].groupby("occupation").count()["gender"] / users.groupby("occupation").count()["gender"])
gr_by_m.rename("male", inplace=True)
gr_by_f = (users[users["gender"] == "F"].groupby("occupation").count()["gender"] / users.groupby("occupation").count()["gender"])
gr_by_f.rename("female", inplace=True)
pd.concat([gr_by_m, gr_by_f], axis=1)

                   male    female
occupation
administrator  0.544304  0.455696
artist         0.535714  0.464286
doctor         1.000000       NaN
educator       0.726316  0.273684
engineer       0.970149  0.029851
entertainment  0.888889  0.111111
executive      0.906250  0.093750
healthcare     0.312500  0.687500
homemaker      0.142857  0.857143
lawyer         0.833333  0.166667
librarian      0.431373  0.568627
marketing      0.615385  0.384615
none           0.555556  0.444444
other          0.657143  0.342857
programmer     0.909091  0.090909
retired        0.928571  0.071429
salesman       0.750000  0.250000
scientist      0.903226  0.096774
student        0.693878  0.306122
technician     0.962963  0.037037
writer         0.577778  0.422222

In [259]:
(users[users["gender"] == "M"].groupby("occupation").count()["gender"] / users.groupby("occupation").count()["gender"]).sort_values(ascending=False)

occupation
doctor           1.000000
engineer         0.970149
technician       0.962963
retired          0.928571
programmer       0.909091
executive        0.906250
scientist        0.903226
entertainment    0.888889
lawyer           0.833333
salesman         0.750000
educator         0.726316
student          0.693878
other            0.657143
marketing        0.615385
writer           0.577778
none             0.555556
administrator    0.544304
artist           0.535714
librarian        0.431373
healthcare       0.312500
homemaker        0.142857
Name: gender, dtype: float64

### Step 6. For each occupation, calculate the minimum and maximum ages

In [232]:
users.groupby("occupation").describe()["age"][["min", "max"]]

                min   max
occupation
administrator  21.0  70.0
artist         19.0  48.0
doctor         28.0  64.0
educator       23.0  63.0
engineer       22.0  70.0
entertainment  15.0  50.0
executive      22.0  69.0
healthcare     22.0  62.0
homemaker      20.0  50.0
lawyer         21.0  53.0
librarian      23.0  69.0
marketing      24.0  55.0
none           11.0  55.0
other          13.0  64.0
programmer     20.0  63.0
retired        51.0  73.0
salesman       18.0  66.0
scientist      23.0  55.0
student         7.0  42.0
technician     21.0  55.0
writer         18.0  60.0

### Step 7. For each combination of occupation and gender, calculate the mean age

In [230]:
users.groupby(["occupation", "gender"]).describe()["age"][["min", "max"]]

                       min   max
occupation    gender
administrator F       22.0  62.0
              M       21.0  70.0
artist        F       19.0  48.0
              M       20.0  45.0
doctor        M       28.0  64.0
educator      F       23.0  51.0
              M       25.0  63.0
engineer      F       23.0  36.0
              M       22.0  70.0
entertainment F       24.0  38.0
              M       15.0  50.0
executive     F       39.0  49.0
              M       22.0  69.0
healthcare    F       22.0  53.0
              M       28.0  62.0
homemaker     F       20.0  50.0
              M       23.0  23.0
lawyer        F       28.0  51.0
              M       21.0  53.0
librarian     F       26.0  59.0
              M       23.0  69.0
marketing     F       24.0  50.0
              M       24.0  55.0
none          F       26.0  55.0
              M       11.0  33.0
other         F       18.0  55.0
              M       13.0  64.0
programmer    F       26.0  38.0
              M       20.0  63.0
retired       F       70.0  70.0
              M       51.0  73.0
salesman      F       18.0  33.0
              M       21.0  66.0
scientist     F       26.0  31.0
              M       23.0  55.0
student       F       13.0  38.0
              M        7.0  42.0
technician    F       38.0  38.0
              M       21.0  55.0
writer        F       18.0  56.0
              M       21.0  60.0

### Step 8.  For each occupation present the percentage of women and men

In [288]:
gr_by_m = (users[users["gender"] == "M"].groupby("occupation").count()["gender"] / users.groupby("occupation").count()["gender"])
gr_by_m.rename("male", inplace=True)
gr_by_f = (users[users["gender"] == "F"].groupby("occupation").count()["gender"] / users.groupby("occupation").count()["gender"])
gr_by_f.rename("female", inplace=True)
pd.concat([gr_by_m, gr_by_f], axis=1)

                   male    female
occupation
administrator  0.544304  0.455696
artist         0.535714  0.464286
doctor         1.000000       NaN
educator       0.726316  0.273684
engineer       0.970149  0.029851
entertainment  0.888889  0.111111
executive      0.906250  0.093750
healthcare     0.312500  0.687500
homemaker      0.142857  0.857143
lawyer         0.833333  0.166667
librarian      0.431373  0.568627
marketing      0.615385  0.384615
none           0.555556  0.444444
other          0.657143  0.342857
programmer     0.909091  0.090909
retired        0.928571  0.071429
salesman       0.750000  0.250000
scientist      0.903226  0.096774
student        0.693878  0.306122
technician     0.962963  0.037037
writer         0.577778  0.422222