# Occupation

### Introduction:


### Step 1. Import the necessary libraries

In [51]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user).

### Step 3. Assign it to a variable called users.

In [52]:
users = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user', sep='|')
users.head()

   user_id  age gender  occupation zip_code
0        1   24      M  technician    85711
1        2   53      F       other    94043
2        3   23      M      writer    32067
3        4   24      M  technician    43537
4        5   33      F       other    15213

### Step 4. Discover what is the mean age per occupation

In [53]:
users.groupby('occupation').age.mean()

occupation
administrator    38.746835
artist           31.392857
doctor           43.571429
educator         42.010526
engineer         36.388060
entertainment    29.222222
executive        38.718750
healthcare       41.562500
homemaker        32.571429
lawyer           36.750000
librarian        40.000000
marketing        37.615385
none             26.555556
other            34.523810
programmer       33.121212
retired          63.071429
salesman         35.666667
scientist        35.548387
student          22.081633
technician       33.148148
writer           36.311111
Name: age, dtype: float64

### Step 5. Discover the Male ratio per occupation and sort it from the most to the least

In [54]:
users[users['gender']=='M'].occupation.value_counts()

student          136
educator          69
other             69
engineer          65
programmer        60
administrator     43
executive         29
scientist         28
writer            26
technician        26
librarian         22
entertainment     16
marketing         16
artist            15
retired           13
lawyer            10
salesman           9
doctor             7
none               5
healthcare         5
homemaker          1
Name: occupation, dtype: int64

### Step 6. For each occupation, calculate the minimum and maximum ages

In [55]:
users.groupby('occupation')['age'].agg(['min', 'max'])

               min  max
occupation
administrator   21   70
artist          19   48
doctor          28   64
educator        23   63
engineer        22   70
entertainment   15   50
executive       22   69
healthcare      22   62
homemaker       20   50
lawyer          21   53
librarian       23   69
marketing       24   55
none            11   55
other           13   64
programmer      20   63
retired         51   73
salesman        18   66
scientist       23   55
student          7   42
technician      21   55
writer          18   60

### Step 7. For each combination of occupation and gender, calculate the mean age

In [36]:
users.groupby(['occupation', 'gender']).age.mean().round(1)

occupation     gender
administrator  F         40.6
               M         37.2
artist         F         30.3
               M         32.3
doctor         M         43.6
educator       F         39.1
               M         43.1
engineer       F         29.5
               M         36.6
entertainment  F         31.0
               M         29.0
executive      F         44.0
               M         38.2
healthcare     F         39.8
               M         45.4
homemaker      F         34.2
               M         23.0
lawyer         F         39.5
               M         36.2
librarian      F         40.0
               M         40.0
marketing      F         37.2
               M         37.9
none           F         36.5
               M         18.6
other          F         35.5
               M         34.0
programmer     F         32.2
               M         33.2
retired        F         70.0
               M         62.5
salesman       F         27.0
               M         38.6
scientist      F         28.3
               M         36.3
student        F         20.8
               M         22.7
technician     F         38.0
               M         33.0
writer         F         37.6
               M         35.3
Name: age, dtype: float64

### Step 8.  For each occupation present the percentage of women and men

In [49]:
users.groupby('occupation').gender.value_counts(normalize=True).round(3)*100

occupation     gender
administrator  M          54.4
               F          45.6
artist         M          53.6
               F          46.4
doctor         M         100.0
educator       M          72.6
               F          27.4
engineer       M          97.0
               F           3.0
entertainment  M          88.9
               F          11.1
executive      M          90.6
               F           9.4
healthcare     F          68.8
               M          31.2
homemaker      F          85.7
               M          14.3
lawyer         M          83.3
               F          16.7
librarian      F          56.9
               M          43.1
marketing      M          61.5
               F          38.5
none           M          55.6
               F          44.4
other          M          65.7
               F          34.3
programmer     M          90.9
               F           9.1
retired        M          92.9
               F           7.1
salesman       M          75.0
               F          25.0
scientist      M          90.3
               F           9.7
student        M          69.4
               F          30.6
technician     M          96.3
               F           3.7
writer         M          57.8
               F          42.2
Name: gender, dtype: float64