# Filtering and Sorting Data

This time we are going to pull data directly from the internet.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from folder data

In [48]:
data = pd.read_csv("TEAM.csv")
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 35 columns):
Team                          16 non-null object
Goals                         16 non-null int64
Shots on target               16 non-null int64
Shots off target              16 non-null int64
Shooting Accuracy             16 non-null object
% Goals-to-shots              16 non-null object
Total shots (inc. Blocked)    16 non-null int64
Hit Woodwork                  16 non-null int64
Penalty goals                 16 non-null int64
Penalties not scored          16 non-null int64
Headed goals                  16 non-null int64
Passes                        16 non-null int64
Passes completed              16 non-null int64
Passing Accuracy              16 non-null object
Touches                       16 non-null int64
Crosses                       16 non-null int64
Dribbles                      16 non-null int64
Corners Taken                 16 non-null int64
Tackles                       16 non-null int64
Clearances                    16 non-null int64
Interceptions                 16 non-null int64
Clearances off line           15 non-null float64
Clean Sheets                  16 non-null int64
Blocks                        16 non-null int64
Goals conceded                16 non-null int64
Saves made                    16 non-null int64
Saves-to-shots ratio          16 non-null object
Fouls Won                     16 non-null int64
Fouls Conceded                16 non-null int64
Offsides                      16 non-null int64
Yellow Cards                  16 non-null int64
Red Cards                     16 non-null int64
Subs on                       16 non-null int64
Subs off                      16 non-null int64
Players Used                  16 non-null int64
dtypes: float64(1), int64(29), object(5)
memory usage: 4.5+ KB

### Step 3. Assign it to a variable called euro12.

In [5]:
euro12 = data

### Step 4. Select only the Goal column.

In [7]:
euro12["Goals"]

0      4
1      4
2      4
3      5
4      3
5     10
6      5
7      6
8      2
9      2
10     6
11     1
12     5
13    12
14     5
15     2
Name: Goals, dtype: int64

### Step 5. How many team participated in the Euro2012?

In [10]:
len(euro12)

16

### Step 6. What is the number of columns in the dataset?

In [15]:
len(euro12.keys())

35

### Step 7. View only the columns Team, Yellow Cards and Red Cards and assign them to a dataframe called discipline

In [19]:
discipline = euro12[['Team','Yellow Cards', 'Red Cards']]

### Step 8. Sort the teams by Red Cards, then to Yellow Cards

In [20]:
discipline.sort_values(['Red Cards','Yellow Cards'])

                   Team  Yellow Cards  Red Cards
2               Denmark             4          0
5               Germany             4          0
3               England             5          0
8           Netherlands             5          0
15              Ukraine             5          0
4                France             6          0
12               Russia             6          0
1        Czech Republic             7          0
14               Sweden             7          0
0               Croatia             9          0
13                Spain            11          0
10             Portugal            12          0
7                 Italy            16          0
11  Republic of Ireland             6          1
9                Poland             7          1
6                Greece             9          1

### Step 9. Calculate the mean Yellow Cards given per Team

In [28]:
euro12["Yellow Cards"].mean()

7.4375

### Step 10. Filter teams that scored more than 6 goals

In [32]:
euro12[euro12.Goals > 6]

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
5,Germany,10,32,32,47.8%,15.6%,80,2,1,0,...,10,62.6%,63,49,12,4,0,15,15,17
13,Spain,12,42,33,55.9%,16.0%,100,0,1,0,...,15,93.8%,102,83,19,11,0,17,17,18

### Step 11. Select the teams that start with G

In [109]:
res = []
for country in euro12.Team:
    if country[0] == "G":
        res.append(country)

euro12.query(f'Team in {res}')

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
5,Germany,10,32,32,47.8%,15.6%,80,2,1,0,...,10,62.6%,63,49,12,4,0,15,15,17
6,Greece,5,8,18,30.7%,19.2%,32,1,1,1,...,13,65.1%,67,48,12,9,1,12,12,20

### Step 12. Select the first 7 columns

In [49]:
euro12[euro12.keys()[0:7]]

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked)
0,Croatia,4,13,12,51.9%,16.0%,32
1,Czech Republic,4,13,18,41.9%,12.9%,39
2,Denmark,4,10,10,50.0%,20.0%,27
3,England,5,11,18,50.0%,17.2%,40
4,France,3,22,24,37.9%,6.5%,65
5,Germany,10,32,32,47.8%,15.6%,80
6,Greece,5,8,18,30.7%,19.2%,32
7,Italy,6,34,45,43.0%,7.5%,110
8,Netherlands,2,12,36,25.0%,4.1%,60
9,Poland,2,15,23,39.4%,5.2%,48
10,Portugal,6,22,42,34.3%,9.3%,82
11,Republic of Ireland,1,7,12,36.8%,5.2%,28
12,Russia,5,9,31,22.5%,12.5%,59
13,Spain,12,42,33,55.9%,16.0%,100
14,Sweden,5,17,19,47.2%,13.8%,39
15,Ukraine,2,7,26,21.2%,6.0%,38

### Step 13. Select all columns except the last 3.

In [50]:
euro12[euro12.keys()[0:len(euro12) - 3]]

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,Headed goals,Passes,Passes completed
0,Croatia,4,13,12,51.9%,16.0%,32,0,0,0,2,1076,828
1,Czech Republic,4,13,18,41.9%,12.9%,39,0,0,0,0,1565,1223
2,Denmark,4,10,10,50.0%,20.0%,27,1,0,0,3,1298,1082
3,England,5,11,18,50.0%,17.2%,40,0,0,0,3,1488,1200
4,France,3,22,24,37.9%,6.5%,65,1,0,0,0,2066,1803
5,Germany,10,32,32,47.8%,15.6%,80,2,1,0,2,2774,2427
6,Greece,5,8,18,30.7%,19.2%,32,1,1,1,0,1187,911
7,Italy,6,34,45,43.0%,7.5%,110,2,0,0,2,3016,2531
8,Netherlands,2,12,36,25.0%,4.1%,60,2,0,0,0,1556,1381
9,Poland,2,15,23,39.4%,5.2%,48,0,0,0,1,1059,852
10,Portugal,6,22,42,34.3%,9.3%,82,6,0,0,2,1891,1461
11,Republic of Ireland,1,7,12,36.8%,5.2%,28,0,0,0,1,851,606
12,Russia,5,9,31,22.5%,12.5%,59,2,0,0,1,1602,1345
13,Spain,12,42,33,55.9%,16.0%,100,0,1,0,2,4317,3820
14,Sweden,5,17,19,47.2%,13.8%,39,3,0,0,1,1192,965
15,Ukraine,2,7,26,21.2%,6.0%,38,0,0,0,2,1276,1043

### Step 14. Present only the Shooting Accuracy from England, Italy and Russia

In [112]:
euro12.query('Team in ["England","Italy","Russia"]')["Shooting Accuracy"]

3     50.0%
7     43.0%
12    22.5%
Name: Shooting Accuracy, dtype: object