# United States - Crime Rates - 1960 - 2014

### Introduction:

This time you will create a data 

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [15]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/US_Crime_Rates/US_Crime_Rates_1960_2014.csv).

### Step 3. Assign it to a variable called crime.

In [16]:
df = pd.read_csv('US_Crime_Rates_1960_2014.csv', sep=',')
df.head()

,Year,Population,Total,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
0,1960,179323175,3384200,288460,3095700,9110,17190,107840,154320,912100,1855400,328200
1,1961,182992000,3488000,289390,3198600,8740,17220,106670,156760,949600,1913000,336000
2,1962,185771000,3752200,301510,3450700,8530,17550,110860,164570,994300,2089600,366800
3,1963,188483000,4109500,316970,3792500,8640,17650,116470,174210,1086400,2297800,408300
4,1964,191141000,4564600,364220,4200400,9360,21420,130390,203050,1213200,2514400,472800

### Step 4. What is the type of the columns?

In [17]:
df.dtypes

Year                  int64
Population            int64
Total                 int64
Violent               int64
Property              int64
Murder                int64
Forcible_Rape         int64
Robbery               int64
Aggravated_assault    int64
Burglary              int64
Larceny_Theft         int64
Vehicle_Theft         int64
dtype: object

##### Have you noticed that the type of Year is int64. But pandas has a different type to work with Time Series. Let's see it now.

### Step 5. Convert the type of the column Year to datetime64

In [18]:
year_col = df.loc[:, 'Year'] 
year_col = pd.to_datetime(year_col, format='%Y')
df['Year'] = year_col
df.head()

,Year,Population,Total,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
0,1960-01-01,179323175,3384200,288460,3095700,9110,17190,107840,154320,912100,1855400,328200
1,1961-01-01,182992000,3488000,289390,3198600,8740,17220,106670,156760,949600,1913000,336000
2,1962-01-01,185771000,3752200,301510,3450700,8530,17550,110860,164570,994300,2089600,366800
3,1963-01-01,188483000,4109500,316970,3792500,8640,17650,116470,174210,1086400,2297800,408300
4,1964-01-01,191141000,4564600,364220,4200400,9360,21420,130390,203050,1213200,2514400,472800

### Step 6. Set the Year column as the index of the dataframe

In [19]:
df.index = year_col
df.index.name = 'Index'
df.index

DatetimeIndex(['1960-01-01', '1961-01-01', '1962-01-01', '1963-01-01',
               '1964-01-01', '1965-01-01', '1966-01-01', '1967-01-01',
               '1968-01-01', '1969-01-01', '1970-01-01', '1971-01-01',
               '1972-01-01', '1973-01-01', '1974-01-01', '1975-01-01',
               '1976-01-01', '1977-01-01', '1978-01-01', '1979-01-01',
               '1980-01-01', '1981-01-01', '1982-01-01', '1983-01-01',
               '1984-01-01', '1985-01-01', '1986-01-01', '1987-01-01',
               '1988-01-01', '1989-01-01', '1990-01-01', '1991-01-01',
               '1992-01-01', '1993-01-01', '1994-01-01', '1995-01-01',
               '1996-01-01', '1997-01-01', '1998-01-01', '1999-01-01',
               '2000-01-01', '2001-01-01', '2002-01-01', '2003-01-01',
               '2004-01-01', '2005-01-01', '2006-01-01', '2007-01-01',
               '2008-01-01', '2009-01-01', '2010-01-01', '2011-01-01',
               '2012-01-01', '2013-01-01', '2014-01-01'],
              dtype='datetime64[ns]', name='Index', freq=None)

### Step 7. Delete the Total column

In [20]:
df.drop(['Total'], axis=1, inplace=True)
df.head()

,Year,Population,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
Index,,,,,,,,,,,
1960-01-01,1960-01-01,179323175,288460,3095700,9110,17190,107840,154320,912100,1855400,328200
1961-01-01,1961-01-01,182992000,289390,3198600,8740,17220,106670,156760,949600,1913000,336000
1962-01-01,1962-01-01,185771000,301510,3450700,8530,17550,110860,164570,994300,2089600,366800
1963-01-01,1963-01-01,188483000,316970,3792500,8640,17650,116470,174210,1086400,2297800,408300
1964-01-01,1964-01-01,191141000,364220,4200400,9360,21420,130390,203050,1213200,2514400,472800

### Step 8. Group the year by decades and sum the values

#### Pay attention to the Population column number, summing this column is a mistake

In [21]:
df_sum = df
df_sum.head()
df

,Year,Population,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
Index,,,,,,,,,,,
1960-01-01,1960-01-01,179323175,288460,3095700,9110,17190,107840,154320,912100,1855400,328200
1961-01-01,1961-01-01,182992000,289390,3198600,8740,17220,106670,156760,949600,1913000,336000
1962-01-01,1962-01-01,185771000,301510,3450700,8530,17550,110860,164570,994300,2089600,366800
1963-01-01,1963-01-01,188483000,316970,3792500,8640,17650,116470,174210,1086400,2297800,408300
1964-01-01,1964-01-01,191141000,364220,4200400,9360,21420,130390,203050,1213200,2514400,472800
1965-01-01,1965-01-01,193526000,387390,4352000,9960,23410,138690,215330,1282500,2572600,496900
1966-01-01,1966-01-01,195576000,430180,4793300,11040,25820,157990,235330,1410100,2822000,561200
1967-01-01,1967-01-01,197457000,499930,5403500,12240,27620,202910,257160,1632100,3111600,659800
1968-01-01,1968-01-01,199399000,595010,6125200,13800,31670,262840,286700,1858900,3482700,783600
1969-01-01,1969-01-01,201385000,661870,6749000,14760,37170,298850,311090,1981900,3888600,878500
1970-01-01,1970-01-01,203235298,738820,7359200,16000,37990,349860,334970,2205000,4225800,928400
1971-01-01,1971-01-01,206212000,816500,7771700,17780,42260,387700,368760,2399300,4424200,948200
1972-01-01,1972-01-01,208230000,834900,7413900,18670,46850,376290,393090,2375500,4151200,887200
1973-01-01,1973-01-01,209851000,875910,7842200,19640,51400,384220,420650,2565500,4347900,928800
1974-01-01,1974-01-01,211392000,974720,9278700,20710,55400,442400,456210,3039200,5262500,977100
1975-01-01,1975-01-01,213124000,1039710,10252700,20510,56090,470500,492620,3265300,5977700,1009600
1976-01-01,1976-01-01,214659000,1004210,10345500,18780,57080,427810,500530,3108700,6270800,966000
1977-01-01,1977-01-01,216332000,1029580,9955000,19120,63500,412610,534350,3071500,5905700,977700
1978-01-01,1978-01-01,218059000,1085550,10123400,19560,67610,426930,571460,3128300,5991000,1004100
1979-01-01,1979-01-01,220099000,1208030,11041500,21460,76390,480700,629480,3327700,6601000,1112800
1980-01-01,1980-01-01,225349264,1344520,12063700,23040,82990,565840,672650,3795200,7136900,1131700
1981-01-01,1981-01-01,229146000,1361820,12061900,22520,82500,592910,663900,3779700,7194400,1087800
1982-01-01,1982-01-01,231534000,1322390,11652000,21010,78770,553130,669480,3447100,7142500,1062400
1983-01-01,1983-01-01,233981000,1258090,10850500,19310,78920,506570,653290,3129900,6712800,1007900
1984-01-01,1984-01-01,236158000,1273280,10608500,18690,84230,485010,685350,2984400,6591900,1032200
1985-01-01,1985-01-01,238740000,1328800,11102600,18980,88670,497870,723250,3073300,6926400,1102900
1986-01-01,1986-01-01,240132887,1489169,11722700,20613,91459,542775,834322,3241410,7257153,1224137
1987-01-01,1987-01-01,242282918,1483999,12024700,20096,91110,517704,855088,3236184,7499900,1288674
1988-01-01,1988-01-01,245807000,1566220,12356900,20680,92490,542970,910090,3218100,7705900,1432900
1989-01-01,1989-01-01,248239000,1646040,12605400,21500,94500,578330,951710,3168200,7872400,1564800
1990-01-01,1990-01-01,248709873,1820130,12655500,23440,102560,639270,1054860,3073900,7945700,1635900
1991-01-01,1991-01-01,252177000,1911770,12961100,24700,106590,687730,1092740,3157200,8142200,1661700
1992-01-01,1992-01-01,255082000,1932270,12505900,23760,109060,672480,1126970,2979900,7915200,1610800
1993-01-01,1993-01-01,257908000,1926020,12218800,24530,106010,659870,1135610,2834800,7820900,1563100
1994-01-01,1994-01-01,260341000,1857670,12131900,23330,102220,618950,1113180,2712800,7879800,1539300
1995-01-01,1995-01-01,262755000,1798790,12063900,21610,97470,580510,1099210,2593800,7997700,1472400
1996-01-01,1996-01-01,265228572,1688540,11805300,19650,96250,535590,1037050,2506400,7904700,1394200
1997-01-01,1997-01-01,267637000,1634770,11558175,18208,96153,498534,1023201,2460526,7743760,1354189
1998-01-01,1998-01-01,270296000,1531044,10944590,16914,93103,446625,974402,2329950,7373886,1240754
1999-01-01,1999-01-01,272690813,1426044,10208334,15522,89411,409371,911740,2100739,6955520,1152075
2000-01-01,2000-01-01,281421906,1425486,10182586,15586,90178,408016,911706,2050992,6971590,1160002
2001-01-01,2001-01-01,285317559,1439480,10437480,16037,90863,423557,909023,2116531,7092267,1228391
2002-01-01,2002-01-01,287973924,1423677,10455277,16229,95235,420806,891407,2151252,7057370,1246646
2003-01-01,2003-01-01,290690788,1383676,10442862,16528,93883,414235,859030,2154834,7026802,1261226
2004-01-01,2004-01-01,293656842,1360088,10319386,16148,95089,401470,847381,2144446,6937089,1237851
2005-01-01,2005-01-01,296507061,1390745,10174754,16740,94347,417438,862220,2155448,6783447,1235859
2006-01-01,2006-01-01,299398484,1418043,9983568,17030,92757,447403,860853,2183746,6607013,1192809
2007-01-01,2007-01-01,301621157,1408337,9843481,16929,90427,445125,855856,2176140,6568572,1095769
2008-01-01,2008-01-01,304374846,1392628,9767915,16442,90479,443574,842134,2228474,6588046,958629
2009-01-01,2009-01-01,307006550,1325896,9337060,15399,89241,408742,812514,2203313,6338095,795652
2010-01-01,2010-01-01,309330219,1251248,9112625,14772,85593,369089,781844,2168457,6204601,739565
2011-01-01,2011-01-01,311587816,1206031,9052743,14661,84175,354772,752423,2185140,6151095,716508
2012-01-01,2012-01-01,313873685,1217067,9001992,14866,85141,355051,762009,2109932,6168874,723186
2013-01-01,2013-01-01,316497531,1199684,8650761,14319,82109,345095,726575,1931835,6018632,700294
2014-01-01,2014-01-01,318857056,1197987,8277829,14249,84041,325802,741291,1729806,5858496,689527

In [22]:
digit_3 = lambda x: str(x)[2] + '0'
df_sum['Year'] = df.loc[:, 'Year'].apply(digit_3)
df_pop = df_sum.groupby(['Year'])['Population'].max()
group = df_sum.groupby(['Year']).sum()
group.drop(['Population'], axis=1, inplace=True)
group

,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
Year,,,,,,,,,
00,13968056,100944369,163068,922499,4230366,8652124,21565176,67970291,11412834
10,6072017,44095950,72867,421059,1749809,3764142,10125170,30401698,3569080
60,4134930,45160900,106180,236720,1633510,2158520,13321100,26547700,5292100
70,9607930,91383800,192230,554570,4159020,4702120,28486000,53157800,9739900
80,14074328,117048900,206439,865639,5383109,7619130,33073494,72040253,11935411
90,17527048,119053499,211664,998827,5748930,10568963,26750015,77679366,14624418

In [23]:
df_pop

Year
00    307006550
10    318857056
60    201385000
70    220099000
80    248239000
90    272690813
Name: Population, dtype: int64

### Step 9. What is the mos dangerous decade to live in the US?

In [24]:
group['sum'] = group.sum(axis=1)
group['div'] = group['sum'].div(df_pop, level='Year')
'The most dangerous decade in USA is ' + group.index[group['div'] == group['div'].max()][0] +"'s"

"The most dangerous decade in USA is 80's"