# United States - Crime Rates - 1960 - 2014

### Introduction:

This time you will create a data 

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np
np.random.seed(42)

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/US_Crime_Rates/US_Crime_Rates_1960_2014.csv).

### Step 3. Assign it to a variable called crime.

In [2]:
crime = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/US_Crime_Rates/US_Crime_Rates_1960_2014.csv')
crime.head()

,Year,Population,Total,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
0,1960,179323175,3384200,288460,3095700,9110,17190,107840,154320,912100,1855400,328200
1,1961,182992000,3488000,289390,3198600,8740,17220,106670,156760,949600,1913000,336000
2,1962,185771000,3752200,301510,3450700,8530,17550,110860,164570,994300,2089600,366800
3,1963,188483000,4109500,316970,3792500,8640,17650,116470,174210,1086400,2297800,408300
4,1964,191141000,4564600,364220,4200400,9360,21420,130390,203050,1213200,2514400,472800

### Step 4. What is the type of the columns?

In [3]:
crime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55 entries, 0 to 54
Data columns (total 12 columns):
Year                  55 non-null int64
Population            55 non-null int64
Total                 55 non-null int64
Violent               55 non-null int64
Property              55 non-null int64
Murder                55 non-null int64
Forcible_Rape         55 non-null int64
Robbery               55 non-null int64
Aggravated_assault    55 non-null int64
Burglary              55 non-null int64
Larceny_Theft         55 non-null int64
Vehicle_Theft         55 non-null int64
dtypes: int64(12)
memory usage: 5.2 KB

In [4]:
crime.dtypes

Year                  int64
Population            int64
Total                 int64
Violent               int64
Property              int64
Murder                int64
Forcible_Rape         int64
Robbery               int64
Aggravated_assault    int64
Burglary              int64
Larceny_Theft         int64
Vehicle_Theft         int64
dtype: object

### Answer:
Type of the all columns is int64

##### Have you noticed that the type of Year is int64. But pandas has a different type to work with Time Series. Let's see it now.

### Step 5. Convert the type of the column Year to datetime64

In [5]:
crime['Year'] = pd.to_datetime({'year' : crime['Year'].astype(str), 'month': 12, 'day': 31}, format='%Y%m%d')
crime.head()

,Year,Population,Total,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
0,1960-12-31,179323175,3384200,288460,3095700,9110,17190,107840,154320,912100,1855400,328200
1,1961-12-31,182992000,3488000,289390,3198600,8740,17220,106670,156760,949600,1913000,336000
2,1962-12-31,185771000,3752200,301510,3450700,8530,17550,110860,164570,994300,2089600,366800
3,1963-12-31,188483000,4109500,316970,3792500,8640,17650,116470,174210,1086400,2297800,408300
4,1964-12-31,191141000,4564600,364220,4200400,9360,21420,130390,203050,1213200,2514400,472800

In [6]:
crime.dtypes

Year                  datetime64[ns]
Population                     int64
Total                          int64
Violent                        int64
Property                       int64
Murder                         int64
Forcible_Rape                  int64
Robbery                        int64
Aggravated_assault             int64
Burglary                       int64
Larceny_Theft                  int64
Vehicle_Theft                  int64
dtype: object

### Step 6. Set the Year column as the index of the dataframe

In [7]:
crime.set_index('Year', inplace=True)

In [8]:
crime.head()

,Population,Total,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
Year,,,,,,,,,,,
1960-12-31,179323175,3384200,288460,3095700,9110,17190,107840,154320,912100,1855400,328200
1961-12-31,182992000,3488000,289390,3198600,8740,17220,106670,156760,949600,1913000,336000
1962-12-31,185771000,3752200,301510,3450700,8530,17550,110860,164570,994300,2089600,366800
1963-12-31,188483000,4109500,316970,3792500,8640,17650,116470,174210,1086400,2297800,408300
1964-12-31,191141000,4564600,364220,4200400,9360,21420,130390,203050,1213200,2514400,472800

### Step 7. Delete the Total column

In [9]:
crime.drop(['Total'], axis=1, inplace=True)

In [10]:
crime.head()

,Population,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
Year,,,,,,,,,,
1960-12-31,179323175,288460,3095700,9110,17190,107840,154320,912100,1855400,328200
1961-12-31,182992000,289390,3198600,8740,17220,106670,156760,949600,1913000,336000
1962-12-31,185771000,301510,3450700,8530,17550,110860,164570,994300,2089600,366800
1963-12-31,188483000,316970,3792500,8640,17650,116470,174210,1086400,2297800,408300
1964-12-31,191141000,364220,4200400,9360,21420,130390,203050,1213200,2514400,472800

In [11]:
crime.index

DatetimeIndex(['1960-12-31', '1961-12-31', '1962-12-31', '1963-12-31',
               '1964-12-31', '1965-12-31', '1966-12-31', '1967-12-31',
               '1968-12-31', '1969-12-31', '1970-12-31', '1971-12-31',
               '1972-12-31', '1973-12-31', '1974-12-31', '1975-12-31',
               '1976-12-31', '1977-12-31', '1978-12-31', '1979-12-31',
               '1980-12-31', '1981-12-31', '1982-12-31', '1983-12-31',
               '1984-12-31', '1985-12-31', '1986-12-31', '1987-12-31',
               '1988-12-31', '1989-12-31', '1990-12-31', '1991-12-31',
               '1992-12-31', '1993-12-31', '1994-12-31', '1995-12-31',
               '1996-12-31', '1997-12-31', '1998-12-31', '1999-12-31',
               '2000-12-31', '2001-12-31', '2002-12-31', '2003-12-31',
               '2004-12-31', '2005-12-31', '2006-12-31', '2007-12-31',
               '2008-12-31', '2009-12-31', '2010-12-31', '2011-12-31',
               '2012-12-31', '2013-12-31', '2014-12-31'],
              dtype='datetime64[ns]', name='Year', freq=None)

### Step 8. Group the year by decades and sum the values

#### Pay attention to the Population column number, summing this column is a mistake

In [12]:
columns_to_summary = ['Violent',
                      'Property',
                      'Murder',
                      'Forcible_Rape',
                      'Robbery',
                      'Aggravated_assault',
                      'Burglary',
                      'Larceny_Theft',
                      'Vehicle_Theft']

In [13]:
summary_by_decads = crime.groupby((crime.index.year // 10) * 10)[columns_to_summary].sum()

In [14]:
summary_by_decads

,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
Year,,,,,,,,,
1960,4134930,45160900,106180,236720,1633510,2158520,13321100,26547700,5292100
1970,9607930,91383800,192230,554570,4159020,4702120,28486000,53157800,9739900
1980,14074328,117048900,206439,865639,5383109,7619130,33073494,72040253,11935411
1990,17527048,119053499,211664,998827,5748930,10568963,26750015,77679366,14624418
2000,13968056,100944369,163068,922499,4230366,8652124,21565176,67970291,11412834
2010,6072017,44095950,72867,421059,1749809,3764142,10125170,30401698,3569080

### Step 9. What is the mos dangerous decade to live in the US?

In [15]:
dict_ = {'summary': []}
for idx in summary_by_decads.index:
    dict_['summary'].append(summary_by_decads.loc[idx].sum())

In [16]:
dang_df = pd.DataFrame(data=dict_, index=summary_by_decads.index)

In [17]:
dang_df

        summary
Year
1960   98591660
1970  201983370
1980  262246703
1990  273162730
2000  229828783
2010  100271792

### Answer:
The most dangerous decade is 1990 -- 1999