# United States - Crime Rates - 1960 - 2014

### Introduction:

This time you will create a data 

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [50]:
import numpy as np
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/US_Crime_Rates/US_Crime_Rates_1960_2014.csv).

### Step 3. Assign it to a variable called crime.

In [51]:
crime =  pd.read_csv('US_Crime_Rates_1960_2014.csv', sep=',')
crime.head()

,Year,Population,Total,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
0,1960,179323175,3384200,288460,3095700,9110,17190,107840,154320,912100,1855400,328200
1,1961,182992000,3488000,289390,3198600,8740,17220,106670,156760,949600,1913000,336000
2,1962,185771000,3752200,301510,3450700,8530,17550,110860,164570,994300,2089600,366800
3,1963,188483000,4109500,316970,3792500,8640,17650,116470,174210,1086400,2297800,408300
4,1964,191141000,4564600,364220,4200400,9360,21420,130390,203050,1213200,2514400,472800

### Step 4. What is the type of the columns?

In [52]:
crime.dtypes

Year                  int64
Population            int64
Total                 int64
Violent               int64
Property              int64
Murder                int64
Forcible_Rape         int64
Robbery               int64
Aggravated_assault    int64
Burglary              int64
Larceny_Theft         int64
Vehicle_Theft         int64
dtype: object

##### Have you noticed that the type of Year is int64. But pandas has a different type to work with Time Series. Let's see it now.

### Step 5. Convert the type of the column Year to datetime64

In [59]:
crime_1 = crime
crime_1.Year = pd.to_datetime(crime.Year)
crime_1.head()

,Year,Population,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
Year,,,,,,,,,,,
1960,1970-01-01 00:00:00.000001960,179323175,288460,3095700,9110,17190,107840,154320,912100,1855400,328200
1961,1970-01-01 00:00:00.000001961,182992000,289390,3198600,8740,17220,106670,156760,949600,1913000,336000
1962,1970-01-01 00:00:00.000001962,185771000,301510,3450700,8530,17550,110860,164570,994300,2089600,366800
1963,1970-01-01 00:00:00.000001963,188483000,316970,3792500,8640,17650,116470,174210,1086400,2297800,408300
1964,1970-01-01 00:00:00.000001964,191141000,364220,4200400,9360,21420,130390,203050,1213200,2514400,472800

### Step 6. Set the Year column as the index of the dataframe

In [53]:
crime.index = crime['Year']
crime.head()

,Year,Population,Total,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
Year,,,,,,,,,,,,
1960,1960,179323175,3384200,288460,3095700,9110,17190,107840,154320,912100,1855400,328200
1961,1961,182992000,3488000,289390,3198600,8740,17220,106670,156760,949600,1913000,336000
1962,1962,185771000,3752200,301510,3450700,8530,17550,110860,164570,994300,2089600,366800
1963,1963,188483000,4109500,316970,3792500,8640,17650,116470,174210,1086400,2297800,408300
1964,1964,191141000,4564600,364220,4200400,9360,21420,130390,203050,1213200,2514400,472800

### Step 7. Delete the Total column

In [54]:
crime.drop(['Total'], axis=1, inplace=True)
crime.head()

,Year,Population,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
Year,,,,,,,,,,,
1960,1960,179323175,288460,3095700,9110,17190,107840,154320,912100,1855400,328200
1961,1961,182992000,289390,3198600,8740,17220,106670,156760,949600,1913000,336000
1962,1962,185771000,301510,3450700,8530,17550,110860,164570,994300,2089600,366800
1963,1963,188483000,316970,3792500,8640,17650,116470,174210,1086400,2297800,408300
1964,1964,191141000,364220,4200400,9360,21420,130390,203050,1213200,2514400,472800

### Step 8. Group the year by decades and sum the values

#### Pay attention to the Population column number, summing this column is a mistake

In [55]:
dt = crime.drop(['Population'], axis=1).groupby((crime.Year//10)*10)
dt.groups

{1960: Int64Index([1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969], dtype='int64', name='Year'),
 1970: Int64Index([1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979], dtype='int64', name='Year'),
 1980: Int64Index([1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989], dtype='int64', name='Year'),
 1990: Int64Index([1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999], dtype='int64', name='Year'),
 2000: Int64Index([2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009], dtype='int64', name='Year'),
 2010: Int64Index([2010, 2011, 2012, 2013, 2014], dtype='int64', name='Year')}

### Step 9. What is the mos dangerous decade to live in the US?

In [58]:
dt = crime.drop(['Population'], axis=1).groupby((crime.Year//10)*10)
dt.apply(lambda x: x.sum())
dt.apply(lambda x: x.sum()).sum(axis=1).idxmax()

1990