# United States - Crime Rates - 1960 - 2014

### Introduction:

This time you will create a data 

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/US_Crime_Rates/US_Crime_Rates_1960_2014.csv).

In [2]:
!wget https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/US_Crime_Rates/US_Crime_Rates_1960_2014.csv

--2019-10-20 16:05:02--  https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/US_Crime_Rates/US_Crime_Rates_1960_2014.csv
Распознаётся raw.githubusercontent.com (raw.githubusercontent.com)… 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Подключение к raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... соединение установлено.
HTTP-запрос отправлен. Ожидание ответа… 200 OK
Длина: 5052 (4,9K) [text/plain]
Сохранение в: «US_Crime_Rates_1960_2014.csv.1»

US_Crime_Rates_1960 100%[===================>]   4,93K  --.-KB/s    за 0s

2019-10-20 16:05:02 (15,1 MB/s) - «US_Crime_Rates_1960_2014.csv.1» сохранён [5052/5052]

### Step 3. Assign it to a variable called crime.

In [3]:
with open('US_Crime_Rates_1960_2014.csv') as f:
    crime = pd.read_csv(f)
crime.head()

,Year,Population,Total,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
0,1960,179323175,3384200,288460,3095700,9110,17190,107840,154320,912100,1855400,328200
1,1961,182992000,3488000,289390,3198600,8740,17220,106670,156760,949600,1913000,336000
2,1962,185771000,3752200,301510,3450700,8530,17550,110860,164570,994300,2089600,366800
3,1963,188483000,4109500,316970,3792500,8640,17650,116470,174210,1086400,2297800,408300
4,1964,191141000,4564600,364220,4200400,9360,21420,130390,203050,1213200,2514400,472800

### Step 4. What is the type of the columns?

In [4]:
crime.dtypes

Year                  int64
Population            int64
Total                 int64
Violent               int64
Property              int64
Murder                int64
Forcible_Rape         int64
Robbery               int64
Aggravated_assault    int64
Burglary              int64
Larceny_Theft         int64
Vehicle_Theft         int64
dtype: object

##### Have you noticed that the type of Year is int64. But pandas has a different type to work with Time Series. Let's see it now.

### Step 5. Convert the type of the column Year to datetime64

In [5]:
crime.Year = pd.to_datetime(crime.Year)

### Step 6. Set the Year column as the index of the dataframe

In [6]:
crime.set_index('Year', inplace=True)

### Step 7. Delete the Total column

In [7]:
crime.drop(labels='Total', axis=1, inplace=True)

### Step 8. Group the year by decades and sum the values

#### Pay attention to the Population column number, summing this column is a mistake

In [11]:
crime.index = crime.index.astype('int64')
crime.drop(['Population'], axis=1, inplace=True)
crime_group = crime.groupby(crime.index//10).sum()
crime_group.index *= 10
crime_group['Total'] = crime_group.sum(axis=1)
crime_group

,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft,Total
Year,,,,,,,,,,
1960,4134930,45160900,106180,236720,1633510,2158520,13321100,26547700,5292100,98591660
1970,9607930,91383800,192230,554570,4159020,4702120,28486000,53157800,9739900,201983370
1980,14074328,117048900,206439,865639,5383109,7619130,33073494,72040253,11935411,262246703
1990,17527048,119053499,211664,998827,5748930,10568963,26750015,77679366,14624418,273162730
2000,13968056,100944369,163068,922499,4230366,8652124,21565176,67970291,11412834,229828783
2010,6072017,44095950,72867,421059,1749809,3764142,10125170,30401698,3569080,100271792

### Step 9. What is the mos dangerous decade to live in the US?

In [12]:
crime_group['Total'].idxmax()

1990