# United States - Crime Rates - 1960 - 2014

### Introduction:

This time you will create a data 

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [71]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/US_Crime_Rates/US_Crime_Rates_1960_2014.csv).

### Step 3. Assign it to a variable called crime.

In [72]:
crime = pd.read_csv('./US_Crime_Rates_1960_2014.csv')

### Step 4. What is the type of the columns?

In [73]:
crime.dtypes

Year                  int64
Population            int64
Total                 int64
Violent               int64
Property              int64
Murder                int64
Forcible_Rape         int64
Robbery               int64
Aggravated_assault    int64
Burglary              int64
Larceny_Theft         int64
Vehicle_Theft         int64
dtype: object

##### Have you noticed that the type of Year is int64. But pandas has a different type to work with Time Series. Let's see it now.

### Step 5. Convert the type of the column Year to datetime64

In [74]:
crime['Year'] =  pd.to_datetime(crime['Year'], format='%Y')

### Step 6. Set the Year column as the index of the dataframe

In [75]:
crime = crime.set_index('Year')

### Step 7. Delete the Total column

In [76]:
del crime['Total']

### Step 8. Group the year by decades and sum the values

#### Pay attention to the Population column number, summing this column is a mistake

In [77]:
crime = crime.groupby((crime.index.year//10)*10)[['Violent', 'Property', 'Murder', 'Forcible_Rape', 'Robbery', 'Aggravated_assault', 'Burglary', 'Larceny_Theft', 'Vehicle_Theft']].sum()

### Step 9. What is the mos dangerous decade to live in the US?

In [78]:
crime['Total'] = crime['Property'] + crime['Violent'] + crime['Murder'] + crime['Forcible_Rape'] + crime['Robbery'] + crime['Aggravated_assault'] + crime['Burglary'] + crime['Larceny_Theft'] + crime['Vehicle_Theft']

In [79]:
crime[crime['Total'] == crime['Total'].max()]

,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft,Total
Year,,,,,,,,,,
1990,17527048,119053499,211664,998827,5748930,10568963,26750015,77679366,14624418,273162730