# United States - Crime Rates - 1960 - 2014

### Introduction:

This time you will create a data 

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [29]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/US_Crime_Rates/US_Crime_Rates_1960_2014.csv).

### Step 3. Assign it to a variable called crime.

In [2]:
crime = pd.read_csv('.//US_Crime_Rates_1960_2014.csv', sep = ',')

### Step 4. What is the type of the columns?

In [3]:
crime.dtypes

Year                  int64
Population            int64
Total                 int64
Violent               int64
Property              int64
Murder                int64
Forcible_Rape         int64
Robbery               int64
Aggravated_assault    int64
Burglary              int64
Larceny_Theft         int64
Vehicle_Theft         int64
dtype: object

##### Have you noticed that the type of Year is int64. But pandas has a different type to work with Time Series. Let's see it now.

### Step 5. Convert the type of the column Year to datetime64

In [4]:
pd.to_datetime(crime['Year'])

0    1970-01-01 00:00:00.000001960
1    1970-01-01 00:00:00.000001961
2    1970-01-01 00:00:00.000001962
3    1970-01-01 00:00:00.000001963
4    1970-01-01 00:00:00.000001964
5    1970-01-01 00:00:00.000001965
6    1970-01-01 00:00:00.000001966
7    1970-01-01 00:00:00.000001967
8    1970-01-01 00:00:00.000001968
9    1970-01-01 00:00:00.000001969
10   1970-01-01 00:00:00.000001970
11   1970-01-01 00:00:00.000001971
12   1970-01-01 00:00:00.000001972
13   1970-01-01 00:00:00.000001973
14   1970-01-01 00:00:00.000001974
15   1970-01-01 00:00:00.000001975
16   1970-01-01 00:00:00.000001976
17   1970-01-01 00:00:00.000001977
18   1970-01-01 00:00:00.000001978
19   1970-01-01 00:00:00.000001979
20   1970-01-01 00:00:00.000001980
21   1970-01-01 00:00:00.000001981
22   1970-01-01 00:00:00.000001982
23   1970-01-01 00:00:00.000001983
24   1970-01-01 00:00:00.000001984
25   1970-01-01 00:00:00.000001985
26   1970-01-01 00:00:00.000001986
27   1970-01-01 00:00:00.000001987
28   1970-01-01 00:00:00.000001988
29   1970-01-01 00:00:00.000001989
30   1970-01-01 00:00:00.000001990
31   1970-01-01 00:00:00.000001991
32   1970-01-01 00:00:00.000001992
33   1970-01-01 00:00:00.000001993
34   1970-01-01 00:00:00.000001994
35   1970-01-01 00:00:00.000001995
36   1970-01-01 00:00:00.000001996
37   1970-01-01 00:00:00.000001997
38   1970-01-01 00:00:00.000001998
39   1970-01-01 00:00:00.000001999
40   1970-01-01 00:00:00.000002000
41   1970-01-01 00:00:00.000002001
42   1970-01-01 00:00:00.000002002
43   1970-01-01 00:00:00.000002003
44   1970-01-01 00:00:00.000002004
45   1970-01-01 00:00:00.000002005
46   1970-01-01 00:00:00.000002006
47   1970-01-01 00:00:00.000002007
48   1970-01-01 00:00:00.000002008
49   1970-01-01 00:00:00.000002009
50   1970-01-01 00:00:00.000002010
51   1970-01-01 00:00:00.000002011
52   1970-01-01 00:00:00.000002012
53   1970-01-01 00:00:00.000002013
54   1970-01-01 00:00:00.000002014
Name: Year, dtype: datetime64[ns]

### Step 6. Set the Year column as the index of the dataframe

In [5]:
crime.index = crime['Year']

,Year,Population,Total,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
Year,,,,,,,,,,,,
1960,1960,179323175,3384200,288460,3095700,9110,17190,107840,154320,912100,1855400,328200
1961,1961,182992000,3488000,289390,3198600,8740,17220,106670,156760,949600,1913000,336000
1962,1962,185771000,3752200,301510,3450700,8530,17550,110860,164570,994300,2089600,366800
1963,1963,188483000,4109500,316970,3792500,8640,17650,116470,174210,1086400,2297800,408300
1964,1964,191141000,4564600,364220,4200400,9360,21420,130390,203050,1213200,2514400,472800

### Step 7. Delete the Total column

In [6]:
crime.drop('Total',inplace=True,axis=1)

### Step 8. Group the year by decades and sum the values

#### Pay attention to the Population column number, summing this column is a mistake

In [7]:
crime.loc[:,'Violent':].groupby(by=lambda x:  x//10%10).sum()

,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
0,13968056,100944369,163068,922499,4230366,8652124,21565176,67970291,11412834
1,6072017,44095950,72867,421059,1749809,3764142,10125170,30401698,3569080
6,4134930,45160900,106180,236720,1633510,2158520,13321100,26547700,5292100
7,9607930,91383800,192230,554570,4159020,4702120,28486000,53157800,9739900
8,14074328,117048900,206439,865639,5383109,7619130,33073494,72040253,11935411
9,17527048,119053499,211664,998827,5748930,10568963,26750015,77679366,14624418

### Step 9. What is the mos dangerous decade to live in the US?

In [50]:
a = crime.loc[:,'Violent':].groupby(by=lambda x:  x//10%10).sum()
a.sum(axis=1).argmax()

/home/mikhail/.local/lib/python2.7/site-packages/ipykernel_launcher.py:2: FutureWarning:
The current behaviour of 'Series.argmax' is deprecated, use 'idxmax'
instead.
The behavior of 'argmax' will be corrected to return the positional
maximum in the future. For now, use 'series.values.argmax' or
'np.argmax(np.array(values))' to get the position of the maximum
row.

9