# United States - Crime Rates - 1960 - 2014

### Introduction:

This time you will create a data 

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [2]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/US_Crime_Rates/US_Crime_Rates_1960_2014.csv).

### Step 3. Assign it to a variable called crime.

In [255]:
addr = 'https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/US_Crime_Rates/US_Crime_Rates_1960_2014.csv'
crime = pd.read_csv(addr)
crime.sample(3)

,Year,Population,Total,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
18,1978,218059000,11209000,1085550,10123400,19560,67610,426930,571460,3128300,5991000,1004100
23,1983,233981000,12108600,1258090,10850500,19310,78920,506570,653290,3129900,6712800,1007900
50,2010,309330219,10363873,1251248,9112625,14772,85593,369089,781844,2168457,6204601,739565

### Step 4. What is the type of the columns?

In [256]:
crime.dtypes

Year                  int64
Population            int64
Total                 int64
Violent               int64
Property              int64
Murder                int64
Forcible_Rape         int64
Robbery               int64
Aggravated_assault    int64
Burglary              int64
Larceny_Theft         int64
Vehicle_Theft         int64
dtype: object

##### Have you noticed that the type of Year is int64. But pandas has a different type to work with Time Series. Let's see it now.

### Step 5. Convert the type of the column Year to datetime64

In [257]:
pd.to_datetime(crime['Year']).head()

0   1970-01-01 00:00:00.000001960
1   1970-01-01 00:00:00.000001961
2   1970-01-01 00:00:00.000001962
3   1970-01-01 00:00:00.000001963
4   1970-01-01 00:00:00.000001964
Name: Year, dtype: datetime64[ns]

### Step 6. Set the Year column as the index of the dataframe

In [258]:
crime = pd.read_csv(addr, index_col=0)
crime.sample(3)

,Population,Total,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
Year,,,,,,,,,,,
2001,285317559,11876669,1439480,10437480,16037,90863,423557,909023,2116531,7092267,1228391
2010,309330219,10363873,1251248,9112625,14772,85593,369089,781844,2168457,6204601,739565
2004,293656842,11679474,1360088,10319386,16148,95089,401470,847381,2144446,6937089,1237851

### Step 7. Delete the Total column

In [259]:
crime = crime.drop(['Total'], axis=1)
crime.head(10)

,Population,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
Year,,,,,,,,,,
1960,179323175,288460,3095700,9110,17190,107840,154320,912100,1855400,328200
1961,182992000,289390,3198600,8740,17220,106670,156760,949600,1913000,336000
1962,185771000,301510,3450700,8530,17550,110860,164570,994300,2089600,366800
1963,188483000,316970,3792500,8640,17650,116470,174210,1086400,2297800,408300
1964,191141000,364220,4200400,9360,21420,130390,203050,1213200,2514400,472800
1965,193526000,387390,4352000,9960,23410,138690,215330,1282500,2572600,496900
1966,195576000,430180,4793300,11040,25820,157990,235330,1410100,2822000,561200
1967,197457000,499930,5403500,12240,27620,202910,257160,1632100,3111600,659800
1968,199399000,595010,6125200,13800,31670,262840,286700,1858900,3482700,783600
1969,201385000,661870,6749000,14760,37170,298850,311090,1981900,3888600,878500

### Step 8. Group the year by decades and sum the values

#### Pay attention to the Population column number, summing this column is a mistake

In [260]:
#crime['Dec'] = crime['Year'].apply(lambda x: (x // 10) % 10)
#gr = crime.groupby('Dec')

crime['Dec'] = crime.index // 10 % 10 * 10
decade = crime.groupby('Dec')
all = tuple(crime.columns[1:-1])
sum_by_decade = decade[all].sum()
sum_by_decade

,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
Dec,,,,,,,,,
0,13968056,100944369,163068,922499,4230366,8652124,21565176,67970291,11412834
10,6072017,44095950,72867,421059,1749809,3764142,10125170,30401698,3569080
60,4134930,45160900,106180,236720,1633510,2158520,13321100,26547700,5292100
70,9607930,91383800,192230,554570,4159020,4702120,28486000,53157800,9739900
80,14074328,117048900,206439,865639,5383109,7619130,33073494,72040253,11935411
90,17527048,119053499,211664,998827,5748930,10568963,26750015,77679366,14624418

### Step 9. What is the most dangerous decade to live in the US?

In [261]:
sum_by_decade['Violent'] + sum_by_decade['Property'] + sum_by_decade['Murder'] + sum_by_decade['Forcible_Rape'] + sum_by_decade['Robbery'] + sum_by_decade['Aggravated_assault'] + sum_by_decade['Burglary'] + sum_by_decade['Larceny_Theft'] + sum_by_decade['Vehicle_Theft']

Dec
0     229828783
10    100271792
60     98591660
70    201983370
80    262246703
90    273162730
dtype: int64