In [1]:
import numpy as np
import pandas as pd

Pandas — программная библиотека на языке Python для обработки и анализа данных. Работа pandas с данными строится поверх библиотеки NumPy.

Мы сейчас рассмотрим следующее: 
    - посмотрим два объекта из библиотеки pandas: Series и DataFrame.
    - пощупаем что это вообще такое.

Series - объект похожий на list в питоне, он упорядочен и туда можно положить что угодно)
Однако на деле объект Series больше похож на упорядоченный словарь OrderedDict, 
тк у Series помимо значений есть еще и индексы.

In [ ]:
a = pd.Series(data=['влад', 'миша', 'илья', 'зарина', 'антон'])

In [ ]:
# мы можем создавать серии со своей индексацией
a = pd.Series(data=['амир', 'миша', 'илья', 'зарина', 'игорь'], 
              index=[101,102,103,104,105])

In [ ]:
# и обращаться по индексу
a[103]

In [ ]:
# внутри все хранится в виде np.array
a.values

In [ ]:
a.index

In [ ]:
# мы можем создать Series вот так:

a = pd.Series({'a': 1, 'b': 2, 'c': 3, 'd': 4})

In [ ]:
a

In [ ]:
# мы можем на лету поменять индекс

a.index=[1,2,3,4]

In [ ]:
a

In [ ]:
# у Series есть поле name

a.name='fofoofof'

In [ ]:
a

In [ ]:
a.mean()

In [ ]:
a.median()

In [ ]:
a.quantile(q=0.7)

In [ ]:
np.sqrt(a)

In [ ]:
a ** 2

___________

DataFrame в простом случае это таблица. 
у нее есть строки и столбцы.
столбцами в DataFrame являются объекты Series.
у DataFrame есть индекс по строкам, который по умолчанию задается в числовом диапазоне начниая с 0.
Индексом по столбцам является название колонок.

In [ ]:
d = {'колонка_1': [1, 2, 3, 4, 5], 'колонка_2': ['амир', 'миша', 'илья', 'зарина', 'игорь']}
df = pd.DataFrame(data=d)

In [ ]:
df

In [ ]:
df = pd.DataFrame({
    'country': ['Kazakhstan', 'Russia', 'Belarus', 'Ukraine'],
    'population': [17.04, 143.5, 9.5, 45.5],
    'square': [2724902, 17125191, 207600, 603628]
}, index=['KZ', 'RU', 'BY', 'UA'])

![](https://pbpython.com/images/pandas-dataframe-shadow.png)

In [2]:
# пандас умеет загружать данные из разных источников.
# TODO загрузите данные из tsv файла
titanik_csv = pd.read_csv("titanik.tsv",delimiter = "|")

##### 1. посмотреть как выглядят данные

In [3]:
# вывести первые n элементов (по умолчанию n=5)
titanik_csv.head()

,Unnamed: 0,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

Обратите внимание в некоторых столбцах там где встречаются цифры еще иногда встречаются значния NaN. 
По умолчанию pandas так записывает пропущенные значения (то есть в tsv файле там ничего не было) - 
это нормальная ситуация для анализа данных (где то просто не получилось найти данные)

In [ ]:
# TODO вывести 10 последних элементов (по умолчанию 5)

In [ ]:
# TODO вывести 10 случайных элементов (по умолчанию 5)

In [ ]:
# тк pandas сделан на основе numpy, то мы можем так же стандартно посмотреть размерность таблички через
# свойство shape

titanik_csv.shape

##### 2. начнем смотреть столбцы ближе.

Для того чтобы понять какой столбец (признак) что означает почитайте об этом в разделе Data
https://www.kaggle.com/c/titanic/data . 

Пока вы не запомните, может быть полезно выписать название всех столбцов и что они значат прямо в нотбук - сюда:

* Survived - 
* Pclass - 
* Name - 
* Sex - 
* Age - 
* SibSp - 
* Parch - 
* Ticket - 
* Fare - 
* Cabin - 
* Embarked -

несколько полезных методов которые помогут быстро посмотреть общие характеристики данных:

1. .describe() - Выведет количество, среднее, стандартное отклонение, квантили, минимум и максимум всех **числовых признаков** (столбцов)
2. .columns - это поле а не метод (в конце скобки не надо писать). Выведет название всех колонок.
3. .count() - выведет количесто **не пропущенных** значений в каждом столбце (not nan значений)
4. .nunique() - выведет количество уникальных значений в каждом столбце
5. .dtypes - это поле а не метод (в конце скобки не надо писать). Выведет тип переменной хранящейся в каждом столбце

In [ ]:
titanik_csv.describe()

In [ ]:
titanik_csv.count()

In [ ]:
titanik_csv.nunique()

In [ ]:
# там где строки пандас по умолчанию пишет object
# иногда полезно посмотреть что тут.

titanik_csv.dtypes

In [ ]:
#ToDO посмотреть null values и типы колонок

мы можем напрямую обращаться к столбцу, столбцам, строке и строкам.

https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html

In [ ]:
# самый простой способ обратиться к столбцу - это написать его название через точку
# давайте обратимся к полю sex
# нам вернется pd.Series - прямо вся колонка

titanik_csv.sex

In [ ]:
# еще можно обратиться через квадратные скобки
# эффект будет совершенно таким же

titanik_csv["sex"]

In [ ]:
# через values мы можем получить np.array который хранится в вернувшемся объекте pd.Series

titanik_csv.sex.values

In [ ]:
# силами pandas мы можем посмотреть различные значения содержащиеся в объекте pd.Series
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.value_counts.html
# обратите внимание на доп параметры этой функции

titanik_csv.sex.value_counts()

> Вопрос Кого больше мужчин или женщин?

> ответ:

> Вопрос - объект какого типа возвращается после вызова  функции value_counts() ?

> ответ:

в пандасе мы можем получить срез сразу по нескольким колонкам, тогда вернется новый DataFrame а не Series

In [ ]:
titanik_csv[ ['sex', 'age'] ]

Самый каноничный способ обращения к полям - через loc или iloc

loc - позволяет обратиться по названию индексов, 

iloc - по нумерованному значению (то есть обращаемся через цифры, начиная с нуля)

In [ ]:
titanik_csv.loc[:, 'sex']

чтобы в дальнейшем экономить место - будем смотреть только первые 5 записей

In [ ]:
titanik_csv.loc[:, 'sex'].head()

In [ ]:
titanik_csv.loc[:, ['sex', 'age']].head()

In [ ]:
#TODO выведите через loc 12,13,21,21,42 строчки

In [ ]:
#TODO аналогично через iloc. Есть ли разница? Почему?

> копию или реальный объект возвращает лок?

https://stackoverflow.com/questions/47972633/in-pandas-does-iloc-method-give-a-copy-or-view

##### 3. мы можем работать с полями и изменять их как хотим.¶

In [ ]:
titanik_csv.loc[0, 'name']

например, давайте выделим только первую часть имени.
как мы это делаем с одной строкой?

In [ ]:
#TODO выделить только 1 часть имени пассажиров (Mrs и тд) apply :)
#TODO посчитать встречаемости каждого типа первой части имени 
titanik_csv.loc[0, 'name'].split(',')[0]

чтобы проделать этот финт со всеми строками - не нужно итерироваться в цикле.
достаточно применить некоторую функцию.

##### 4. мы можем удалять столбцы или строки

In [ ]:
titanik_csv.drop(['only_name'], axis=1)

In [ ]:
titanik_csv[list(set(titanik_csv.columns)-{'only_name'})]

In [ ]:
titanik_csv[['pclass', 'survived', 'name', 'sex', 'age', 'sibsp', 'parch', 'ticket',
       'fare', 'cabin', 'embarked', 'boat', 'body', 'home.dest']]

# 4. Группировка

![](https://image.slidesharecdn.com/slides-151008060416-lva1-app6892/95/pandas-powerful-data-analysis-tools-for-python-19-638.jpg?cb=1444284343)

In [8]:
pd.DataFrame(titanik_csv.groupby('sex'))

,0,1
0,female,Unnamed: 0 pclass survived \ 0 ...
1,male,Unnamed: 0 pclass survived \ 1 ...

In [ ]:
#TODO посчитать средний возвраст в разрезе по полу

In [ ]:
#TODO правда ли, что мужчины из 1 класса в среднем старше всех на корабле?

In [ ]:
#TODO Какой процент мужчин и женщин выжили?

##### Слияние двух датафреймов

In [5]:
a = titanik_csv.groupby(['sex', 'pclass']).age.mean().reset_index()
b = titanik_csv.groupby(['pclass']).fare.mean().reset_index()

In [6]:
pd.merge(a, b, on='pclass')

      sex  pclass        age       fare
0  female       1  37.037594  87.508992
1    male       1  41.029250  87.508992
2  female       2  27.499191  21.179196
3    male       2  30.815401  21.179196
4  female       3  22.185307  13.302889
5    male       3  25.962273  13.302889

In [ ]:
c = pd.merge(a, b, on='pclass')

In [ ]:
## как удалить из c колонку age ?

In [ ]:
## как удалить из c строчки с индексами 2 и 4 ?

##### Таблица сопряженности

Давайте построим **таблицу сопряженности** (Она же **cross tabulation** или **contigency table** она же **pivot table**). 

https://en.wikipedia.org/wiki/Contingency_table

Pandas позволяет сложные таблицы сопряженности со многими уровнями вложенности с использованием функции pandas .crosstab()

Нам потребуются 2 параметра этой функции:

1. index - список колонок которые будут расположены по вертикали (список может состоять из 1 элемента)
2. columns - список колонок которые будут расположены по горизонтали (список может состоять из 1 элемента)
Опционально (использовать отдельно друго от друга)
3. margins - значение True будет показывать сумму по столбцам и строкам
4. normalize - новый параметр позволят отнормировать значения на сумму по строке ('rows'), столбцу ('columns'), или на ту и другую ('all')

Обратите внимание что crosstab() это функция библиотеки Pandas, а не метод 
объекта pandas.DataFrame. 

Может быть не очень понятно как ее использовать, если не сможете разобраться, ответ можно найти тут  https://www.kaggle.com/dejavu23/titanic-eda-to-ml-beginner .
**Но сначала попробуйте погуглить.**

Документация на .crosstab()
http://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.crosstab.html

In [ ]:
# TODO воспользуйтесь функцией crosstab() и построите таблицу сопряженности
# для колнок Sex (по вертикали) и Survived (по горизонтали)

pd.crosstab(...)

должно получиться что-то типа такого
array([[127, 339],
       [682, 161]])

In [ ]:
# воспользуйтесь функцией crosstab() и построите таблицу сопряженности 
# для колнок Sex и Survived (по вертикали) и Pclass (по горизонтали)
# установите параметр margins=True

pd.crosstab( ... )

должно получиться что-то типа такого

array([[   5,   12,  110,  127],
       [ 118,  146,  418,  682],
       [ 139,   94,  106,  339],
       [  61,   25,   75,  161],
       [ 323,  277,  709, 1309]])

#### Вопрос: 
Что вы можете сказать выживаемости пассижиров разного класса и пола?

.crosstab() позволяет не только считать количество внутри категорий,
у него есть специальный параметр:
1. values - можно передать сюда столбец для которого будет посчитана aggfunc внутри сложной категории задаваемой вашей таблице

In [ ]:
# Построим предыдующую таблицу
# но теперь воспользуемся параметрами values (titanic['age']) и aggfunc ('mean')

pd.crosstab(index=[titanic.survived, titanic['sex']],
            columns=[titanic.pclass],
            values=titanic['age'],
            aggfunc='mean',
            margins=True)

In [ ]:
pd.crosstab(titanic.survived,
            titanic.pclass)

In [ ]:
pd.pivot_table(titanic, values='sex', index='survived', columns='pclass', aggfunc='count')

# Визуализация

кто любит поинтереснее - Seaborn for the Titanic 
https://gist.github.com/mwaskom/8224591

In [ ]:
import matplotlib.pyplot as plt

%matplotlib inline

In [ ]:
x = np.linspace(-1, 1, 100)

plt.plot(x, x**2, '-k')

In [ ]:
plt.scatter(x, x**2, c=['r' if int(i * 10) % 2 == 1 else 'b' for i in x])

In [ ]:
plt.scatter(x, np.random.randn(100), c=['r' if int(i * 10) % 2 == 1 else 'b' for i in x])

In [ ]:
idx = [1,2,3,4]
vals = [100, 150, 200, 345]

plt.bar(idx, vals, tick_label=['a', 'b', 'g', 'dsd']);

In [ ]:
plt.hist(np.random.randn(10000), bins=100);

In [ ]:
plt.figure(figsize=(12, 4))

plt.hist(np.random.randn(10000), bins=100, label='norm_disr')

plt.legend(loc=[1.1, 0.8]) # try loc='best'

plt.title('my_title is beautiful');

# plt.xlim([-3, 3])
# plt.ylim([-100, 400])

plt.xlabel('my bins');
plt.ylabel('my counters');

# plt.xticks(np.arange(-3, 4, 1), list('abcdefg'))
# plt.yticks()

# plt.savefig('./path.png', dpi=300)

In [ ]:
## TODO нарисуем несколько графиков на одном - квадратичную и кубическую зависимость
## Подпишем графики и выведем легенду чтобы было понятно какой график - какой.

x = np.linspace(-1, 1, 100)

plt. ...

##### Несколько графиков рядом

In [ ]:
x = np.arange(0, 3 * np.pi, 0.1)
y_sin = np.sin(x)
y_cos = np.cos(x)

# subplot - сетка с высотой 2 и шириной 1, по дефолту сделать первый subplot активным
plt.subplot(2, 1, 1)

# построим что нибудь на первом
plt.plot(x, y_sin)
plt.title('Sine')

# Поменяем сабплот - теперь активен второй
plt.subplot(2, 1, 2)
plt.plot(x, y_cos)
plt.title('Cosine')

# отрисовать
plt.show()

# Посмотрим на титанике

In [ ]:
import pandas as pd

In [ ]:
titanic =  pd.read_csv('titanik.tsv', sep='|', index_col=0)

In [ ]:
titanic["pclass"].value_counts()

Отрисуем pclass

In [ ]:
plt.bar( titanic["pclass"].value_counts().index, 
         titanic["pclass"].value_counts().values,
         tick_label=titanic["pclass"].value_counts().index);

посмотрим на число погибших людей в каждом из pclass

In [ ]:
titanic.loc[titanic.survived==0, "pclass"].value_counts()

In [ ]:
pd.crosstab(titanic.survived, titanic.pclass)

In [ ]:
died = pd.crosstab(titanic.survived, titanic.pclass).loc[0]
plt.bar(died.index, died.values);

Попробуем в зависимости от пола

In [ ]:
male = titanic.sex=='male'

survived = pd.crosstab(titanic[male].survived, 
                       titanic[male].pclass
                      ).loc[1]
plt.bar(survived.index, survived.values, alpha=0.4, label='male');


survived = pd.crosstab(titanic[~male].survived, 
                       titanic[~male].pclass
                      ).loc[1]
plt.bar(survived.index, survived.values, alpha=0.4, label='female');

In [ ]:
titanic.sex.value_counts()

In [ ]:
titanic[titanic.survived==1].sex.value_counts()

In [ ]:
male_age = titanic[titanic.sex=='male'].age.dropna()
female_age = titanic[titanic.sex!='male'].age.dropna()

bins = plt.hist(female_age, color='orange', alpha=0.5, label='female')
bins = plt.hist(male_age, bins=bins[1], color='blue', alpha=0.5, label='male')
plt.legend(loc='best')

plt.title('распределение возрастов мужчин и женщин');

In [ ]:
male_age = titanic[(titanic.sex=='male').values * (titanic.survived==1).values].age.dropna()
female_age = titanic[(titanic.sex=='female').values * (titanic.survived==1).values].age.dropna()

bins = plt.hist(female_age, color='orange', alpha=0.5, label='female')
bins = plt.hist(male_age, bins=bins[1], color='blue', alpha=0.5, label='male')
plt.legend(loc='best')

plt.title('распределение возрастов мужчин и женщин среди выживших');

In [ ]:
plt.scatter(titanic.age, titanic.fare, c=titanic.sex.apply(lambda x: 'r' if x=='female' else 'b'))

In [ ]:
maps = {1:'r', 2:'b', 3:'y'}
plt.scatter(titanic[titanic.pclass==1].age, titanic[titanic.pclass==1].fare, c='r', label='first_class')
plt.scatter(titanic[titanic.pclass==2].age, titanic[titanic.pclass==2].fare, c='b', label='second_class')
plt.scatter(titanic[titanic.pclass==3].age, titanic[titanic.pclass==3].fare, c='y', label='third_class')

plt.xlabel('age')
plt.ylabel('fare')

plt.legend()

> все достаточно логично, однако если бы данные не были такими очевидными?

In [ ]:
plt.scatter(titanic.index, titanic.fare)

In [ ]:
#TODO попробуем pairplot из seaborn

https://khashtamov.com/ru/pandas-introduction/

https://seaborn.pydata.org/tutorial.html